body {
  background-color: #ffe6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Comic Sans MS", cursive;
}

.exchange-container {
  text-align: center;
  background-color: #ffe6f2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(255, 105, 180, 0.4),
    0 -5px 15px rgba(255, 105, 180, 0.2), 0 10px 30px rgba(238, 0, 255, 0.2);
}

.counter-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ff66b2;
  text-shadow: 2px 2px #ffffff;
}

.exchange-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-bottom: 60px;
}

.convert-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff66b2;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.convert-button:hover {
  background-color: #ff3385;
  transform: scale(1.1) translateX(-50%);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[readonly] {
  background-color: #f0f0f0;
  color: #666666;
  cursor: not-allowed;
}

.currency-input {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ff66b2;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

.currency-input:focus {
  border-color: #ff3385;
}

.currency-select {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ff66b2;
  border-radius: 10px;
  background-color: #ffe6f2;
  color: #ff3385;
}

.currency-select:focus {
  border-color: #ff3385;
}

.clear-button {
  background-color: #ff66b2;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #ff3385;
  transform: scale(1.1);
}

.second_notification,
.third_notification {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff3385;
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.second_notification.show,
.third_notification.show {
  opacity: 1;
  visibility: visible;
}
